body {
  margin: 0;
  padding: 0;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
}

.app {
  background-color:rgb(127, 197, 255);
  width: 800px;
  border-radius: 10px;
  text-align: center;
  display:center;
  padding: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
  font-family: 'Courier New', Courier, monospace;
  padding: 1px;
  margin: 5px;
  font-size: 1.5em;
}

.topic-selector {
  justify-content:center;
  align-items:center;
}

.topic-selector button {
  padding: 10px;
  margin: 10px;
}

.article-list {
  list-style-type: none;
  padding: 5px;
}

.article-card {
  border-style: dotted;
  align-items: center;
  margin: 5px;
  border-width: 1px;
  background-color:gainsboro
}

.article-card:hover {
  background-color:lightgrey
}

.full-article-page {
  margin: 5px;
  padding: 5px;
  border-style: dotted;
  border-width: 1px;
  background-color:gainsboro
}

.article-title {
  font-size: 24px;
}

.nav-bar {
  display: flex;
  justify-content:space-around
}

.nav-bar button {
  width: 75px;
}

.comment-list {
  list-style-type: none;
}

.votes {
  display:flex;
  justify-content: center;
  margin: 10px
}

.votes button {
  height: 25px;
  margin: 5px 5px 0 5px
}